<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Messages : View all</title>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
$(document).ready(function(){
    $('#btnSubmit').click(function(){
        alert("JQuery Running!");
        var params = $("#target :td").serialize();
        alert(params);
        
    });
});
    </script>
</head>
<body>
	<h1 layout:fragment="header">Messages : View all</h1>
	<div layout:fragment="content" class="container">
		<div class="pull-right">
			<a href="form.html" th:href="@{/(form)}">Create Message</a>
		</div>
		<table id="target" class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>Name</td>
				</tr>
			</thead>
			<tbody>
				<!--           <tr th:if="${messages.empty}"> -->
				<!--             <td colspan="3"> -->
				<!--               No messages -->
				<!--             </td> -->
				<!--           </tr> -->
				<tr th:each="message : ${messages}">
					<td th:text="${message.id}">1</td>
					<td th:text="${message.name}">1</td>
				</tr>
			</tbody>
		</table>
		<input id="btnSubmit" type="submit" value="Release" />
	</div>
</body>
</html>